<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学IT - 后台管理系统</title>
    <?php include('./views/common/style.html')?>
</head>
<body>
    
    <!-- 侧边栏 -->
    <?php include('./views/common/aside.html')?>
    <!-- 主体 -->
    <div class="main">
        <div class="container-fluid">
            <!-- 头部 -->
            <?php include('./views/common/header.html')?>
            <!-- 讲师资料 -->
            <div class="body teacher-profile">
                <div id="settingsBox" class="settings">
                   <!-- 挖个坑 -->

                
                   <script type='text/template' id="settingsTpl">
                        <form action="" class="form-horizontal">
                            <div class="form-group">
                                <label for="" class="col-xs-3 control-label">姓名</label>
                                <div class="col-xs-5">
                                    <p class="form-control-static">{{tc_name}}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-xs-3 control-label">头像</label>
                                <div class="col-xs-2 preview">
                                    <img src="{{tc_avatar}}">
                                    <input type="file" id="upfile">
                                    <div class="cover">
                                        <i class="fa fa-upload"></i>                  
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-xs-3 control-label">昵称</label>
                                <div class="col-xs-5">
                                    <input value='{{tc_roster}}' type="text" class="form-control input-sm">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-xs-3 control-label">性别</label>
                                <div class="col-xs-3">
                                    {{if tc_gender}}
                                        <label class="radio-inline">
                                            <input type="radio" checked="checked"> 男
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio"> 女
                                        </label>
                                    {{else}}
                                    <label class="radio-inline">
                                        <input type="radio"> 男
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio"  checked="checked"> 女
                                    </label>
                                    {{/if}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-xs-3 control-label">出生日期</label>
                                <div class="col-xs-5">
                                    <input value='{{tc_birthday}}' type="text" class="form-control input-sm">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-xs-3 control-label">籍贯</label>
                                <div class="col-xs-5">
                                    <select name="" class="form-control input-sm">
                                        <option  value="">河北省</option>
                                        <option value="">山东省</option>
                                        <option value="">北京市</option>
                                    </select>
                                    <select name="" class="form-control input-sm">
                                        <option value="">河北省</option>
                                        <option value="">山东省</option>
                                        <option value="">北京市</option>
                                    </select>
                                    <select name="" class="form-control input-sm">
                                        <option value="">河北省</option>
                                        <option value="">山东省</option>
                                        <option value="">北京市</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-xs-3 control-label">手机号码</label>
                                <div class="col-xs-5">
                                    <input value='{{tc_cellphone}}' type="text" class="form-control input-sm">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-xs-3 control-label">电子邮箱</label>
                                <div class="col-xs-5">
                                    <input value='{{tc_email}}' type="text" class="form-control input-sm">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-xs-3 control-label">入职日期</label>
                                <div class="col-xs-5">
                                    <input value='{{tc_join_date}}' type="text" class="form-control input-sm">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-xs-3 control-label">个人介绍</label>
                                <div class="col-xs-5 ckeditor">
                                    <textarea name="" rows="15" class="form-control input-sm">
                                        {{tc_introduce}}
                                    </textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-8">
                                    <input type='button' value='保 存' class="btn btn-success btn-sm pull-right">
                                    <a href="./repass.html" class="btn btn-link btn-sm pull-right">更改密码？</a>
                                </div>
                            </div>
                        </form>
                   </script>
                </div>
            </div>
        </div>
    </div>

    <?php include('./views/common/script.html')?>
    <script>
        require(['settings']);
    </script>
</body>
</html>