<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/public/assets/bootstrap-datepicker/css/bootstrap-datepicker.css">
    <title>学IT - 后台管理系统</title>
    <?php
    include('./views/common/style.html');
?>
    
</head>
<body>
    
    <!-- 侧边栏 -->
    <div class="aside">
        <!-- 个人资料 -->
        <div class="profile">
            <!-- 头像 -->
            <div class="avatar img-circle">
                <img src="./uploads/avatar.jpg">
            </div>
            <h4>布头儿</h4>
        </div>
        <!-- 导航菜单 -->
        <div class="navs">
            <ul class="list-unstyled">
                <li>
                    <a href="./index.html">
                        <i class="fa fa-home"></i>
                        仪表盘
                    </a>
                </li>
                <li>
                    <a href="./user_list.html">
                        <i class="fa fa-bell"></i>
                        用户管理
                    </a>
                </li>
                <li>
                    <a href="/teacher/teacher_list" class="active">
                        <i class="fa fa-bell"></i>
                        讲师管理
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="fa fa-cog"></i>
                        课程管理
                        <i class="arrow fa fa-angle-right"></i>
                    </a>
                    <ul class="list-unstyled">
                        <li>
                            <a href="./course_add.html">
                                 课程添加
                            </a>
                        </li>
                        <li>
                            <a href="./course_list.html">
                                课程列表
                            </a>
                        </li>
                        <li>
                            <a href="./course_category.html">
                                课程分类
                            </a>
                        </li>
                        <li>
                            <a href="./course_topic.html">
                                课程专题
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="./advert_list.html">
                        <i class="fa fa-bell"></i>
                        广告管理
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="fa fa-cog"></i>
                        系统设置
                        <i class="arrow fa fa-angle-right"></i>
                    </a>
                    <ul class="list-unstyled">
                        <li>
                            <a href="javascript:;">
                                网站设置
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                 权限管理
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!-- 主体 -->
    <div class="main">
        <div class="container-fluid">
            <!-- 头部 -->
         <!--    <div class="header">
                <nav class="navbar navbar-custom">
                    <div class="navbar-header">
                        <a href="javascript:;" class="navbar-brand">
                            <i class="fa fa-navicon"></i>
                        </a>
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="javascript:;">
                                <i class="fa fa-bell"></i>
                                <span class="badge">8</span>
                            </a>
                        </li>
                        <li>
                            <a href="./settings.html">
                                <i class="fa fa-user"></i>
                                个人中心
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <i class="fa fa-sign-out"></i>
                                退出
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <i class="fa fa-tasks"></i>
                            </a>
                        </li>
                    </ul>
                </nav>          
            </div> -->

            <?php
                include('./views/common/header.html')
            ?>
            <!-- 讲师列表 -->
            <div class="body teacher-list">
                <!-- 面包屑 -->
                <ol class="breadcrumb">
                    <li><a href="javascript:;">讲师管理</a></li>
                    <li class="active">讲师列表</li>
                </ol>
                <div class="page-title">
                    <a href="/teacher/teacher_add" class="btn btn-success btn-sm pull-right">添加讲师</a>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form action="" class="form-inline">
                            <div class="input-group">
                                <input type="text" class="form-control input-sm">
                                <span class="input-group-btn">
                                    <button class="btn btn-success btn-sm">搜索</button>
                                </span>
                            </div>
                        </form>
                    </div>
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>编号</th>
                                <th>姓名</th>
                                <th>昵称</th>
                                <th>入职日期</th>
                                <th>性别</th>
                                <th>手机号码</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                       <tbody>
                            <!--  <tr>
                                <td>1</td>
                                <td>赵玉川</td>
                                <td>布头儿</td>
                                <td>28</td>
                                <td>男</td>
                                <td>15901256171</td>
                                <td>
                                    <a href="#teacherModal" data-toggle="modal" class="btn btn-info btn-xs">查 看</a>
                                    <a href="./teacher_add.html" class="btn btn-info btn-xs">编 辑</a>
                                    <a href="javascript::" class="btn btn-warning btn-xs">注 销</a>
                                </td>
                            </tr>-->
                        </tbody> 
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- 模态框 添加课程 -->
    <div class="modal fade" id="teacherModal">
        <div class="modal-dialog" style="width: 750px;">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="panel-title">讲师信息</h4>
                </div>
                <div id="modelInfo" class="panel-body">
                    <!-- 挖个坑 -->


                </div>
            </div>
        </div>
    </div>

  <!--   <script src="./assets/jquery/jquery.min.js"></script>
    <script src="./assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="./assets/nprogress/nprogress.js"></script>
    <script src="./js/common.js"></script> -->

    <!-- js样式 -->
    <?php
        include('./views/common/script.html');
    ?>

    <script type="text/template" id="modelTpl">
        <table class="table table-bordered table-condensed">
            <tbody>
                <tr>
                    <th>姓名:</th><td>{{tc_name}}</td>
                    <th>职位:</th><td colspan="3">讲师</td>
                    <td rowspan="4" width="128">
                        <div class="avatar">
                            <img src="{{tc_avatar}}" alt="">
                        </div>
                    </td>
                </tr>
                <tr>
                        <th>花名:</th><td>{{tc_roster}}</td>
                    <th>出生日期:</th><td colspan="3">{{tc_birthday}}</td>
                </tr>
                <tr>
                    <th>性别:</th><td>{{tc_gender==1 ? '女' : '男'}}</td>
                    <th>出生日期:</th><td colspan="3">{{tc_birthday}}</td>
                </tr>
                <tr>
                    <th>手机号码:</th><td colspan="2">{{tc_cellphone}}</td>
                    <th>邮箱:</th><td colspan="2">{{tc_email}}</td>
                </tr>
                <tr>
                    <th>籍贯:</th><td colspan="6">{{tc_hometown}}</td>
                </tr>
                <tr>
                    <td colspan="7">
                        <div class="introduce">
                            {{@tc_introduce}}
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </script>

    <script type="text/template" id="tplTeacher">
      {{each list}}
        <tr>
                <td>{{$index+1}}</td>
                <td>{{$value.tc_name}}</td>
                <td>{{$value.tc_roster}}</td>
                <td>{{$value.tc_join_date}}</td>
                <td>{{if $value.tc_gender == 1}}
                    女
                    {{else}}
                    男
                    {{/if}}
                </td>
                <td>{{$value.tc_cellphone}}</td>
                <td data-tcId='{{$value.tc_id}}' data-tcStatus='{{$value.tc_status}}'>
                    <a href="#teacherModal" data-toggle="modal" class="btn btn-info btn-xs preview">查 看</a>
                    <a href="/teacher/teacher_add?tcId={{$value.tc_id}}" class="btn btn-info btn-xs">编 辑</a>
                    <a href="javascript:;" class="btn btn-warning btn-xs logoutBtn">{{if $value.tc_status == 1}}
                            注销
                        {{else}}
                            登录
                        {{/if}}
                    </a>
                </td>
            </tr>
        {{/each}}
     

    
    </script>
    <script>
        require(["teacherList"])
    </script>
</body>
</html>